#logo-img {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
	padding: 10px 0px 10px 0px;
}

.menu-container {
		position: fixed;
		overflow: hidden;
		width: 100%;
		top: 0;
		z-index: 1;
		background-color: #0B090A;
		border-bottom: 1px solid #9b869c;
}


.menu-container .menu-button {
		position: fixed;
		top: 0;
		right: 0;
		z-index: 3;
		cursor: pointer;
		margin: 3px 10px 3px;
		width: 40px;
		height: 40px;
		opacity: 0;
}

.menu-container .menu-icon {
		position: fixed;
		top: 0;
		right: 0;
		z-index: 2;
		width: 40px;
		height: 40px;
		background-color: white;
		margin: 3px 10px 3px;
		padding: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
}

/* menu icon lines */

.menu-container .menu-icon > div {

		position: relative;
		width: 100%;
		height: 5px;
		background-color: black;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.3s ease;
}
.menu-container .menu-icon > div:before,
.menu-container .menu-icon > div:after {

		content: "";
		position: absolute;
		z-index: 2;
		top: -10px;
		width: 100%;
		height: 5px;
		background-color: inherit;
}

.menu-container .menu-icon > div:after {
		top:10px
}

/* Animate menu icon when menu-button is checked*/

.menu-container .menu-button:checked + .menu-icon > div {
		transform: rotate(135deg);
}
											
/* Turn the three lines into an X */

.menu-container .menu-button:checked + .menu-icon > div:before,
.menu-container .menu-button:checked + .menu-icon > div:after {
		top: 0;
		transform: rotate(90deg);
}

.menu-container .menu-button:checked:hover + .menu-icon > div {
		transform: rotate(225deg);
}

/* Menu */

.menu-container .menu {
		top: 0;
		left: 0;
}

.menu-container .menu ul {
		margin: 0px;
		padding-left: 0px;
}

.menu-container .menu li {
		padding: 0px 0px 13px 13px;
}

.menu-item .menu .menu-item {
		list-style: none;
}

.menu .box ul {
		max-height: 0px;
		overflow: hidden;
    /* transition: max-height .4s ease-out; */
}

.menu-container .menu-button:checked ~ .menu > .box > ul{
		max-height: 500px;
}

@media only screen and (min-width: 981px) {
		.menu-container .menu-button,
		.menu-container .menu-icon{
				display: none;
		}

		.menu-container{
				position: fixed;
				height: 100%;
				width: 300px;
				right: 0;
				padding: 10px 5px 2rem 5px;
				overflow: scroll;
				background-color: transparent;
		}

		.menu > .box > ul{
				max-height: 500px;
		}

		#logo-img {
				display: block;
		}

		#logo-text {

				text-align: center;
				padding-bottom: 13px;
		}

}

@media only screen and (max-width: 980px)
{
		#logo-text{
				padding: 13px;
		}
		.menu-container .box {
				background-color: transparent;
				border: 0px;
				padding: 0px;
				margin: 0px;
				opacity: 1;
				transition: 0s;
		}


		.menu-container .box:hover{
				box-shadow: 0px 0px 0px #9b869c;
		}
}

@media only screen and (max-width: 940px)
{
		
		.menu .box ul {
				transition: max-height .4s ease-out;
		}
}
