* {
		box-sizing: border-box;
		scrollbar-width: none;
		margin: 0px;
		padding: 0px;
}

::-webkit-scrollbar {
    display: none;
}

*:before, *:after {
		box-sizing: border-box;
}

body {
		font-family: monospace;
		font-size: 17px;
		min-height: 100vh; 
		height: 100%;
		display: block;
		position: relative;
		background-color: #181416;
		color: #F5E9E2;
		margin: 0px;
		padding-bottom: 1rem; /* height of footer */
		background-image: url("/img/background.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		background-position: top left;
}

p {
		margin: 0px;
		/* margin-top: 1em; */
}

a, a:link, a:visited {
    color: #9b869c;
    text-decoration: none;
}


.footer, .box {
		background-color: #0B090A;
}


.footer {
		width: 100%;
		position: absolute;
		bottom: 0;
		padding: 4px;
		border-top: 1px solid #9b869c;
		text-align: right;
		z-index: 10;
}

.footer p, .header p, h1, h2, h3, h4, h5, h6 {
    color: #f9d797;
}

.main, .main-post {
		position: relative;
		margin-right: 300px;
		margin-bottom: 1rem;
		overflow: hidden;

}

.main-post {
		width: 90%;
		position: relative;
		margin-right: auto;
		margin-left: auto;
}

.title{
		padding: 10px 10px 10px 10px;
}

.content{
		padding: 0px 10px 0px 10px;
}

.updated{
		padding: 10px 10px 10px 10px;
}

.box {
		padding: 10px;
		border: 1px double #9b869c;
		transition: 0.3s;
		margin-bottom: 10px;
		opacity: 0.9;
}

.box:hover {
		box-shadow: 5px 5px 3px #9b869c;
		opacity: 1;
}

.post-list{
		list-style: none;
}

.content ul {
		margin: 20px;

}

.content p {
		margin-top: 1em;
}

.content li p {
		margin-top: 0;
}

.other-sites {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
}

.content .other-sites img {
		padding: 5px;
}

@media only screen and (max-width: 980px) {
		.main {
				margin-right: 0px;
				margin-top: 3rem;
		}
		.main-post {
				width: 100%;
		}

		.main-post .content, .main-post .title {
				padding: 0px;
		}
}
