{{define "main"}}
<div class="box">
{{.Content}}
</div>
{{ $curryear := newScratch}}{{ $curryear.Set "year_start_list" "0" }}{{ $curryear.Set "started" "0" }}{{ range .Pages }}{{ $year := .Date.Format "2006" }}{{ if not (eq $year ($curryear.Get "year_start_list") ) }}{{ $curryear.Set "year_start_list" ( .Date.Format "2006" ) }}{{ if (eq "0" ($curryear.Get "started") ) }}{{ $curryear.Set "started" "1"}}{{ else }}
</ul>
</div>
{{end}}
<div class="box">
<h2>{{ $year }}</h2>
<ul>
{{ end }}
<li class="post-list">
<a href="{{.RelPermalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
</li>
{{ end }}
</ul>
</div>
{{end}}

{{define "updated"}}
<div class="updated">
<div class="box">
{{ if .IsHome }}
<p>Ending since: {{ time.Format "2006-01-02" $.Params.created  }}</p>
{{ end }}
<p>Last updated: {{ .Lastmod.Format "2006-01-02" }}</p>
</div>
</div>
{{end}}
