{{ define "menu" }}{{ partial "empty.html" . }}{{ end }}

{{ define "main-style" }}
<div class="main-post">
{{ end }}
{{ define "published" }}
<br /><p>Published: {{ .Date.Format "2006-01-02" }}</p>
{{ end }}
{{define "main"}}
<div class="box">
{{.Content}}
</div>
{{end}}

{{define "updated"}}{{ partial "empty.html" . }}{{end}}
