<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body>

{{ block "menu" . }}{{ partial "header.html" . }}{{ end }}

{{ block "main-style" . }}
<div class="main">
{{ end }}
<div class="title">
<div class="box">
{{ if .IsHome }}
<h1> {{.Site.Title}} </h1>
{{ else }}
<h1>{{ .Title }}</h1>
{{ block "published" . }}
{{ end }}{{ end }}
</div>
</div>

<div class="content">
{{ block "main" . }}
{{ end }}
</div>

{{ block "updated" . }}{{ end }}
</div>

{{ partial "footer.html" . }}
</body>
</html>
