{{define "main"}}
<div class="box">
{{.Content}}
</div>
{{end}}

{{define "updated"}}
<div class="updated">
<div class="box">
{{ if .IsHome }}
<p>Ending since: {{ time.Format "2006-01-02" $.Params.created  }}</p>
{{ end }}
<p>Last updated: {{ .Lastmod.Format "2006-01-02" }}</p>
</div>
</div>
{{end}}
