<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
{{ $title := print .Site.Title " | " .Title }}
{{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
<title>{{ $title }}</title>
<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/css/menu.css" type="text/css" media="screen" />
</head>
