<div class="menu-container">
<input type="checkbox" class="menu-button">
<div class="menu-icon"><div></div></div>
<div class="menu">
<div class="box">
<a href="/"><img id="logo-img" src="/img/logo.png" alt="dysfinis logo" /></a>
<p id="logo-text"><a href="/">dysfinis | in fine finium</a></p>
<ul>
<li class="menu-item"><a href="/blog/">Blog</a></li>
<li class="menu-item"><a href="/about/">About</a></li>
<li class="menu-item"><a href="/contact/">Contact</a></li>
<li class="menu-item"><a href="/sites/">Sites</a></li>
<li class="menu-item"><a href="/index.xml">RSS</a></li>
</ul>
</div>
</div>
</div>
