<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body>

{{ block "menu" . }}
{{ partial "header.html" . }}
{{ end }}

{{ block "main-style" . }}
<div class="main">
{{ end }}
<div class="title">
<div class="box">
<h1>Error 404 - Page not found</h1>
</div>
</div>

<div class="content">
<div class="box">
<p>Are you lost?</p>
</div>
</div>
</div>

{{ partial "footer.html" . }}
</body>
</html>
